@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import "color";
body{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
* {
  h1, h2, h3, h4, h5, p, span, text, .ant-typography, title {
    &.ant-typography {
      font-family: 'Montserrat','NotoSansKR',-apple-system,'Roboto',sans-serif;
    }
    font-family: 'Montserrat','NotoSansKR',-apple-system,'Roboto',sans-serif;
  }
}
:where(.css-dev-only-do-not-override-10ed4xt).ant-typography+h5.ant-typography.sub_title,
h5:where(.css-dev-only-do-not-override-10ed4xt).ant-typography.sub_title {font-weight: 400;
  margin: 0 0 15px 0;}
.ant-layout .ant-layout-header {
  //
  div:first-child {
    :where(.css-dev-only-do-not-override-10ed4xt).ant-btn {
      color: #555555;
    }
  }
  //
  & > div {display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;}
  padding-inline: 10vw;
  display: flex;
  justify-content: center;
  @media (max-width: 1040px) { padding-inline: 5vw;}
  @media (max-width: 768px) {padding-inline: 20px;}
  .toggle_menu {}

  :where(.css-dev-only-do-not-override-10ed4xt).ant-btn {
    color: #555555;
  }
:where(.css-dev-only-do-not-override-10ed4xt).ant-btn-primary.toggle_mo {
background-color: rgba(255, 255, 255, 0);
box-shadow: none;
}


}
.logo {
letter-spacing: 10px; margin: 0px;
@media (max-width: 768px) {
font-size: 12px;
}
}
.site-layout {
color: #555;
z-index: 999;
// add
display: flex;
justify-content: center;
align-items: center;
padding-inline: 10vw;
@media (max-width: 1040px) { padding-inline: 5vw }
@media (max-width: 768px) { padding-inline: 20px; }
//

.container {
display:table-cell;
vertical-align:middle;
//padding: 0px 10vw;
max-width: 1200px;
width: 100%;

.project_md {
  @media (max-width: 768px) {
    position: absolute;
    top: 80px;
    bottom: 50px;
    left: 20px;
    right: 20px;
    overflow: hidden;
    overflow-y: auto;
  }
}
}
}

.menu_list {
.ant-menu-title-content a:hover { color: $point_color; }
font-weight: bold;
text-transform: uppercase;
&.ant-menu-light.ant-menu-horizontal {
& > .ant-menu-item-selected::after , & > .ant-menu-item-active:hover::after {
  bottom: 10px;
}
& > .ant-menu-item::after, & > .ant-menu-submenu-selected::after, & > .ant-menu-submenu-open::after {
  border-bottom: none;
}
}
}
:where(.css-dev-only-do-not-override-10ed4xt) a {color: #555}
:where(.css-dev-only-do-not-override-10ed4xt).ant-menu-light .ant-menu-item-selected {color: #555}
:where(.css-dev-only-do-not-override-10ed4xt).ant-menu-horizontal .ant-menu-item:hover span {color: $point-color}
.ant-menu-light {

&.ant-menu-submenu>.ant-menu {
background-color: rgba(255, 255, 255, 0);
box-shadow: none;
}
.ant-menu-item-selected {
background-color: rgba(255, 255, 255, 0);
&:hover .ant-menu-title-content {
  color: $point-color;
}
}
}

// mewnu - home
.menu_home {
.home_title {
color: #fff;
margin: 0px;
font-size: 4vw;
@media (max-width: 768px) {font-size: 10vw}
}
.home_sub {
font-size: 1.5vw;
font-weight: 500;
@media (max-width: 768px) {font-size: 4vw}
}
}

// menu - about
.menu_about {
.my_img {
background-image: url('../../assets/sample_img.png');
height: 30vw;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
@media (max-width: 768px) {
  height: 300px;
}
}
}


.ant-carousel {
width: 100%;
@media (max-width: 768px) { width: calc(100vw - 40px); }
}
.ant-carousel .slick-dots {
position: initial;
}

#main_btn {
  background: $point_color;
  box-shadow: $point_shadow;
  border-radius: 33.5px;
  color: #fff;
border: none;
&:hover {
background-color: $point_color;
  color: #fff;
}
}
.point_color {
color: $point_color;
}










