$point_color: #F28397;
$point-bg: rgba(170, 0, 255, 0.13);
$point_shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0), inset 8px 8px 10px rgba(255, 255, 255, 0.46), inset -6px -5px 10px 1px rgba(109, 67, 75, 0.29);
$background_bg : linear-gradient(180deg, #E8F4FF 0%, #FFECEE 113.61%);
