@import "color";

.contact_info1 {
  .ant-btn-primary {
    background-color: #fff;
    text-align: left;
    box-shadow: none;
    color: #555;
    &:hover {
      background-color: #f8dadf;
      color: #555;
    }
  }
}

.contact_info2 {
  .ant-input {
    background-color: #fff;
    color: #555;
    border: none;
    &::placeholder {
      color: #555e;
    }
  }
}
